{% extends "base.html" %}

{% block title %}
    Add Attribute
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}
<h1>Add {{ component.title }} Attribute</h1>

{% if message %}
  <div class="errors"> {{ message }}</div>
{% endif %}
<br/>

<form id="add-attribute-form" action="/attributes/add/{{ component.id }}/" method="post" enctype="multipart/form-data">

      <label for="title">{{ form.title.label }}</label>
      <div class="field">{{ form.title }}</div>
      <div class="errors">{{ form.title.errors.0 }}</div>
      <br/>

      <label for="description">{{ form.description.label }}</label>
      <div class="field">{{ form.description }}</div>
      <div class="errors">{{ form.description.errors.0 }}</div>
      <br/>

<input type="submit" value="Add">

{% csrf_token %}

</form>

{% endblock %}

