{% extends "base.html" %}

{% block title %}
    Requirements
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

<h1>Requirement</h1>

<a href="/requirements/add/">Add new requirements</a> |
<a href="/requirements/">View all requirements</a> |

{% if reqmt %}

<a href="/requirements/{{ reqmt.id }}/edit/">Edit</a> |
<a href="/requirements/{{ reqmt.id }}/delete/">Delete</a>

<p>
Requirement ID: {{ reqmt.identifier }}
</p>

<p>
Title: {{ reqmt.title }}
</p>


<p>
Release: 
{% if reqmt.release %}

<a href="/releases/{{ reqmt.release.id }}/">{{ reqmt.release }}</a>

{% else %}

   None

{% endif %}
</p>

<p>
Source: {{ reqmt.source }}
</p>

<p>
Description: {{ reqmt.description }}
</p>

<p>
Categories: 

{% if reqmt.category.all.0 %}

   {% for category in reqmt.category.all %}

      {{ category.category }} / 

   {% endfor %}

{% else %}

   None

{% endif %}

</p>

<p>
Priority: {{ reqmt.priority }}
</p>

<p>
Approval Status: {{ reqmt.approval_status }}
</p>


<p>
Parent Requirement:
{% if reqmt.parent %}

   <a href="/requirements/{{ reqmt.parent.id }}/">{{ reqmt.parent }}</a>

{% else %}

   None

{% endif %}
</p>

<p>
Use Case: 
{% if reqmt.use_case %}

   <a href="/usecases/{{ reqmt.use_case.id }}/">{{ reqmt.use_case }}</a>

{% else %}

   None

{% endif %}

</p>

<p>Notes:<br/>
{{ reqmt.notes }}
</p>

<!-- *** IF NO REQMTS *** -->

{% else %}

<p>No requirements are available.</p>

{% endif %}
{% endblock %}
