
{% extends "base.html" %}

{% block title %}
    Add Team
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}
<h1>Add team</h1>

<form id="add-team-form" action="/teams/add/" method="post" enctype="multipart/form-data">
 
      <label for="team_name">{{ form.team_name.label }}</label>
      <div class="field">{{ form.team_name }}</div>
      <div class="errors">{{ form.team_name.errors.0 }}</div>

     <label for="description">{{ form.description.label }}</label>
      <div class="field">{{ form.description }}</div>
      <div class="errors">{{ form.description.errors.0 }}</div>

<br/>
<input type="submit" value="Add Team">

{% csrf_token %}

</form>

{% endblock %}
