
{% extends "base.html" %}

{% block title %}
    Add Team
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}


<form id="add-team-form" action="/teams/add/" method="post" enctype="multipart/form-data">

  <ul>
    <li>
      <label for="team_name">{{ form.team_name.label }}</label>
      <div class="field">{{ form.team_name }}</div>
      <div class="errors">{{ form.team_name.errors.0 }}</div>
    </li>
</ul>
{% csrf_token %}


<br/>
<input type="submit" value="Create Team">

</form>

{% endblock %}
