{% extends "base.html" %}

{% block title %}
    {{ team.name }}
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

<h1>Team</h1>

<a href="/teams/add/">Add new team</a> |
<a href="/teams/">View all teams</a> | 

{% if team %}
<a href="/teams/{{ team.id }}/edit/">Edit</a> |
<a href="/teams/{{ team.id }}/delete/">Delete</a>
 | <a href="/members/{{ team.id }}/add/">Add team member</a>

<p>
Name: {{ team.name }}
</p>

<p>
Description:<br/> {{ team.description }}
</p>

<p>
Responsibilities:
 {% if responsibilities %}

  {% for responsibility  in responsibilities.all %}
      <br/>
      {{ responsibility }} / Release <a href="/releases/{{ responsibility.release.id }}/">{{ responsibility.release.name }}</a>
  {% endfor %}

{% else %}
   <br/>
   None
{% endif %}
</p>

<p>
Team Members:
 {% if members %}
   
  {% for member in members.all %}
      <br/>
      <a href="/members/{{ member.id }}/">{{ member.first_name }} {{ member.last_name }}</a>, {{ member.title }}
  {% endfor %}
  
{% else %}
   <br/>
   None
{% endif %}
</p>

<!-- *** IF NO TEAMS *** -->
{% else %}
<p>No teams are available.</p>
{% endif %}

{% endblock %}
