{% extends "base.html" %}

{% block title %}
    {{ team.name }}
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}
{% if team %}

<p>
<a href="/teams/add/">Create new team</a> | 
<a href="/teams/">View all teams</a>
</p>

<h1>
{{ team.name }}
</h1>

<p>
<a href="/teams/{{ team.id }}/edit/">Edit</a> | 
<a href="/teams/{{ team.id }}/delete/">Delete</a>
</p>

<p>
Team Members:
 {% if members %}
   
  {% for member in members.all %}
      <br/>
      <a href="/members/{{ member.id }}/">{{ member.first_name }} {{ member.last_name }}</a>, {{ member.title }}
  {% endfor %}
  
{% else %}
   <br/>
   None
{% endif %}
</p>

<!-- *** IF NO TEAMS *** -->
{% else %}
<p>No teams are available.</p>
{% endif %}

{% endblock %}
