{% extends "base.html" %}

{% block title %}

{% if mode == 'create' %}
    Add Customer
{% endif %}

{% if mode == 'edit' %}
    Edit Customer
{% endif %}

{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

{% if mode == 'create' %}
<h1>Add customer</h1>
{% endif %}

{% if mode == 'edit' %}
<h1>Edit customer</h1>
{% endif %}


{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}

{% if mode == 'create' %}
<form id="add-customer-form" action="/customers/add/" method="post" enctype="multipart/form-data">
{% endif %}

{% if mode == 'edit' %}
<form id="edit-customer-form" action="/customers/{{ customer.id }}/edit/" method="post" enctype="multipart/form-data">
{% endif %}


      <label for="first_name">{{ form.first_name.label }}</label>
      <div class="field">{{ form.first_name }}</div>
      <div class="errors">{{ form.first_name.errors.0 }}</div>
      <br/>

      <label for="last_name">{{ form.last_name.label }}</label>
      <div class="field">{{ form.last_name }}</div>
      <div class="errors">{{ form.last_name.errors.0 }}</div>
      <br/>

      <label for="organization">{{ form.organization.label }}</label>
      <div class="field">{{ form.organization }}</div>
      <div class="errors">{{ form.organization.errors.0 }}</div>
      <br/>

      <label for="location">{{ form.location.label }}</label>
      <div class="field">{{ form.location }}</div>
      <div class="errors">{{ form.location.errors.0 }}</div>
      <br/>

{% if mode == 'create' %}
<input type="submit" value="Add" class ="blueButton">
{% endif %}

{% if mode == 'edit' %}
<input type="submit" value="Save" class ="blueButton">
{% endif %}

{% csrf_token %}

</form>

{% endblock %}

