{% extends "base.html" %}

{% block title %}

{% if mode == 'create' %}
    Add Release
{% endif %}

{% if mode == 'edit' %}
    Edit Release
{% endif %}

{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

{% if mode == 'create' %}
<h1>Add Release</h1>
{% endif %}

{% if mode == 'edit' %}
<h1>Edit Release</h1>
{% endif %}


{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}

{% if mode == 'create' %}
<form id="add-release-form" action="/releases/add/" method="post" enctype="multipart/form-data">
{% endif %}

{% if mode == 'edit' %}
<form id="edit-release-form" action="/releases/{{ release.id }}/edit/" method="post" enctype="multipart/form-data">
{% endif %}

      <label for="name">{{ form.name.label }}</label>
      <div class="field">{{ form.name }}</div>
      <div class="errors">{{ form.name.errors.0 }}</div>
      <br/>

      <label for="release_date">{{ form.release_date.label }}</label>
      <div class="field">{{ form.release_date }}</div>
      <div class="errors">{{ form.release_date.errors.0 }}</div>
      <br/>

      <label for="pass_fail_criteria">{{ form.pass_fail_criteria.label }}</label>
      <div class="field">{{ form.pass_fail_criteria }}</div>
      <div class="errors">{{ form.pass_fail_criteria.errors.0 }}</div>
      <br/>

      <label for="market">{{ form.market.label }}</label>
      <div class="field">{{ form.market }}</div>
      <div class="errors">{{ form.market.errors.0 }}</div>
      <br/>

      <label for="notes">{{ form.notes.label }}</label>
      <div class="field">{{ form.notes }}</div>
      <div class="errors">{{ form.notes.errors.0 }}</div>
      <br/>

      <label for="release_engineer">{{ form.release_engineer.label }}</label>
      <div class="field">{{ form.release_engineer }}</div>
      <div class="errors">{{ form.release_engineer.errors.0 }}</div>
      <br/>

      <label for="goals">{{ form.goals.label }}</label>
      <div class="field">{{ form.goals }}</div>
      <div class="errors">{{ form.goals.errors.0 }}</div>
      <br/>

      <label for="betatest_engineer">{{ form.betatest_engineer.label }}</label>
      <div class="field">{{ form.betatest_engineer }}</div>
      <div class="errors">{{ form.betatest_engineer.errors.0 }}</div>
      <br/>

{% if mode == 'create' %}
<input type="submit" value="Add">
<br/>*Note: Adding a new release will automatically generate a beta test for that release.
{% endif %}

{% if mode == 'edit' %}
<input type="submit" value="Save">
{% endif %}

{% csrf_token %}

</form>

{% endblock %}

