{% extends "base.html" %}

{% block title %}
Releases
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

<h1>Release</h1>

<a href="/releases/add/">Add new release</a> |
<a href="/releases/">View all releases</a> |

{% if release %}

<a href="/releases/{{ release.id }}/edit/">Edit</a> |
<a href="/releases/{{ release.id }}/delete/">Delete</a>

<p>
Release name: {{ release.name }}
</p>

<p>
Targe Market: {{ release.market }}
</p>


<p>
Release date: {{ release.release_date }}
</p>

<p>
Goals/Theme: 
{% if release.goals %}
   {{ release.goals }}
{% else %}
   None
{% endif %}
</p>

<p>
Features:
{% if features %}  
   {% for feature in features.all %}
      <br/>
      <a href="/features/{{ feature.id }}/">{{ feature.title }}</a>
   {% endfor %}
{% else %}
   None
{% endif %}
</p>

<p>
Risks:
{% if risks %}               
   {% for risk in risks.all %}
      <br/>
      <a href="/risks/{{ risk.id }}/">{{ risk.title }}</a>
   {% endfor %}
{% else %}
   None
{% endif %}
</p>

<p>
Bugs:
{% if bugs %}   
   {% for bug in bugs.all %}
      <br/>
      <a href="/bugs/{{ bug.id }}/">{{ bug.title }}</a>
   {% endfor %}
{% else %}
   None
{% endif %}
</p>

<p>
Milestones:
{% if milestones %}   
   {% for milestone in milestones.all %}
      <br/>
      <a href="/milestones/{{ milestone.id }}/">{{ milestone.title }}</a>
   {% endfor %}
{% else %}
   None
{% endif %}
</p>


<p>
Product Manager:
{% if release.responsible_engineer %}
   {% for member in release.responsible_engineer.all %}
      <br/>
      <a href="/members/{{ member.id }}/">{{ member.first_name }} {{ member.last_name }}</a>, {{ member.title }}
   {% endfor %}
{% else %}
   None
{% endif %}


</p>


<p>
Pass/fail criteria: {{ release.pass_fail_criteria }}
</p>



<p>Notes:<br/>
{{ release.notes }}
</p>


<!-- *** IF NO release *** -->
{% else %}
<p>No releases are available.</p>
{% endif %}
{% endblock %}


