{% extends "base.html" %}

{% block title %}
    Add Use Case
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}
<h1>Add Use Case</h1>

{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}


<form id="add-usecase-form" action="/usecases/add/" method="post" enctype="multipart/form-data">

      <label for="title">{{ form.title.label }}</label>
      <div class="field">{{ form.title }}</div>
      <div class="errors">{{ form.title.errors.0 }}</div>
      <br/>

      <label for="description">{{ form.description.label }}</label>
      <div class="field">{{ form.description }}</div>
      <div class="errors">{{ form.description.errors.0 }}</div>
      <br/>

      <label for="category">{{ form.category.label }}</label>
      <div class="field">{{ form.category }}</div>
      <div class="errors">{{ form.category.errors.0 }}</div>
      <br/>

      <label for="target_market">{{ form.target_market.label }}</label>
      <div class="field">{{ form.target_market }}</div>
      <div class="errors">{{ form.target_market.errors.0 }}</div>
      <br/>

      <label for="identifier">{{ form.identifier.label }}</label>
      <div class="field">{{ form.identifier }}</div>
      <div class="errors">{{ form.identifier.errors.0 }}</div>
      <br/>

      <label for="source">{{ form.source.label }}</label>
      <div class="field">{{ form.source }}</div>
      <div class="errors">{{ form.source.errors.0 }}</div>
      <br/>

      <label for="notes">{{ form.notes.label }}</label>
      <div class="field">{{ form.notes }}</div>
      <div class="errors">{{ form.notes.errors.0 }}</div>
      <br/>


<input type="submit" value="Add">

{% csrf_token %}

</form>

{% endblock %}


