{% extends "base.html" %}

{% block title %}
    Use Case
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}
{% if usecase %}

<h1>Use Case</h1>

<p>
Title: {{ usecase.title }}
</p>

<p>
Use Case ID: {{ usecase.identifier }}
</p>

<p>
Description: {{ usecase.description }}
</p>

<p>
Source:
{{ usecase.source }}
</p>

<p>
Categories:
{% if usecase.category.all.0 %}   <!-- this is manyToMany field -->
   {% for category in usecase.category.all %}
    
   {{ category }} /  
    
   {% endfor %}
{% else %}
   None
{% endif %}
</p>

<p>
Target Market/User: {{ usecase.target_market }}
</p>

<p>
Notes: <br/>
{{ usecase.notes }}
</p>


<!-- *** IF NO USECASES *** -->
{% else %}
<p>No usecases are available.</p>
{% endif %}
{% endblock %}

