{% extends "base.html" %}

{% block title %}
    Add Risk
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}
<h1>Add Risk</h1>

{% if message %}
  <div class="errors"> {{ message }}</div>
{% endif %}
<br/>

<form id="add-risk-form" action="/risks/add/" method="post" enctype="multipart/form-data">

      <label for="title">{{ form.title.label }}</label>
      <div class="field">{{ form.title }}</div>
      <div class="errors">{{ form.title.errors.0 }}</div>
      <br/>

      <label for="description">{{ form.description.label }}</label>
      <div class="field">{{ form.description }}</div>
      <div class="errors">{{ form.description.errors.0 }}</div>
      <br/>

      <label for="category">{{ form.category.label }}</label>
      <div class="field">{{ form.category }}</div>
      <div class="errors">{{ form.category.errors.0 }}</div>
      <br/>

      <label for="release">{{ form.release.label }}</label>
      <div class="field">{{ form.release }}</div>
      <div class="errors">{{ form.release.errors.0 }}</div>
      <br/>

      <label for="probability">{{ form.probability.label }}</label>
      <div class="field">{{ form.probability }}</div>
      <div class="errors">{{ form.probability.errors.0 }}</div>
      <br/>

      <label for="severity">{{ form.severity.label }}</label>
      <div class="field">{{ form.severity }}</div>
      <div class="errors">{{ form.severity.errors.0 }}</div>
      <br/>

      <label for="status">{{ form.status.label }}</label>
      <div class="field">{{ form.status }}</div>
      <div class="errors">{{ form.status.errors.0 }}</div>
      <br/>

      <label for="identifier">{{ form.identifier.label }}</label>
      <div class="field">{{ form.identifier }}</div>
      <div class="errors">{{ form.identifier.errors.0 }}</div>
      <br/>

      <label for="approval_status">{{ form.approval_status.label }}</label>
      <div class="field">{{ form.approval_status }}</div>
      <div class="errors">{{ form.approval_status.errors.0 }}</div>
      <br/>

<input type="submit" value="Add">

{% csrf_token %}

</form>

{% endblock %}

