{% extends "base.html" %}

{% block title %}
Risk
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

<h1>Risk</h1>

<a href="/risks/add/">Add new risk</a> |
<a href="/risks/">View all risks</a> |

{% if risk %}

<a href="/risks/{{ risk.id }}/edit/">Edit</a> |
<a href="/risks/{{ risk.id }}/delete/">Delete</a>

<p>
Title: {{ risk.title }}
</p>

<p>
Risk ID: {{ risk.identifier }}
<p>

<p>
Status: {{ risk.status }}
</p>

<p>
Approval Status: {{ risk.approval_status}}
<p>

<p>
Description: {{ risk.description }}
</p>

<p>
Probability: {{ risk.probability }}
</p>

<p>
Severity: {{ risk.severity }}
</p>


<p>
Release:
{% if risk.release %} <!-- this is foreign key field -->
   <a href="/releases/{{ risk.release.id }}/">{{ risk.release }}</a>
{% else %}
   None
{% endif %}
</p>

<p>
Related Feature:
{% if feature %}
      <a href="/features/{{ feature.0.id }}/">{{ feature.0.title }}</a>
{% else %}
   None
{% endif %}
</p>

<p>
Related Design Component:
{% if component %}
      <a href="/components/{{ component.0.id }}/">{{ component.0.title }}</a>
{% else %}
   None
{% endif %}
</p>

<p>
Related Bug:
{% if bug %}
      <a href="/bugs/{{ bug.0.id }}/">{{ bug.0.title }}</a>
{% else %}
   None
{% endif %}
</p>

<p>
Categories:
{% if risk.category.all.0 %}   <!-- this is manyToMany field -->
   {% for category in risk.category.all %}
    
      {{ category.category }} / 
    
   {% endfor %}
{% else %}
   None
{% endif %}
</p>

<!-- *** IF NO risks *** -->
{% else %}
<p>No risks are available.</p>
{% endif %}
{% endblock %}




