{% extends "base.html" %}

{% block title %}

{% if mode == 'create' %}
    Add Milestone
{% endif %}

{% if mode == 'edit' %}
    Edit Milestone
{% endif %}

{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

{% if mode == 'create' %}
<h1>Add Milestone</h1>
{% endif %}

{% if mode == 'edit' %}
<h1>Edit Milestone</h1>
{% endif %}


{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}

{% if mode == 'create' %}
<form id="add-milestone-form" action="/milestones/add/" method="post" enctype="multipart/form-data">
{% endif %}

{% if mode == 'edit' %}
<form id="edit-milestone-form" action="/milestones/{{ milestone.id }}/edit/" method="post" enctype="multipart/form-data">
{% endif %}

      <label for="title">{{ form.title.label }}</label>
      <div class="field">{{ form.title }}</div>
      <div class="errors">{{ form.title.errors.0 }}</div>
      <br/>

      <label for="description">{{ form.description.label }}</label>
      <div class="field">{{ form.description }}</div>
      <div class="errors">{{ form.description.errors.0 }}</div>
      <br/>

      <label for="category">{{ form.category.label }}</label>
      <div class="field">{{ form.category }}</div>
      <div class="errors">{{ form.category.errors.0 }}</div>
      <br/>

      <label for="start_date">{{ form.start_date.label }}</label>
      <div class="field">{{ form.start_date }}</div>
      <div class="errors">{{ form.start_date.errors.0 }}</div>
      <br/>

      <label for="end_date">{{ form.end_date.label }}</label>
      <div class="field">{{ form.end_date }}</div>
      <div class="errors">{{ form.end_date.errors.0 }}</div>
      <br/>

      <label for="release">{{ form.release.label }}</label>
      <div class="field">{{ form.release }}</div>
      <div class="errors">{{ form.release.errors.0 }}</div>
      <br/>

      <label for="predecessors">{{ form.predecessors.label }}</label>
      <div class="field">{{ form.predecessors }}</div>
      <div class="errors">{{ form.predecessors.errors.0 }}</div>
      <br/>

      <label for="percent_complete">{{ form.percent_complete.label }}</label>
      <div class="field">{{ form.percent_complete }}</div>
      <div class="errors">{{ form.percent_complete.errors.0 }}</div>
      <br/>

      <label for="notes">{{ form.notes.label }}</label>
      <div class="field">{{ form.notes }}</div>
      <div class="errors">{{ form.notes.errors.0 }}</div>
      <br/>

{% if mode == 'create' %}
<input type="submit" value="Add" class ="blueButton">
{% endif %}

{% if mode == 'edit' %}
<input type="submit" value="Save" class ="blueButton">
{% endif %}


{% csrf_token %}

</form>

{% endblock %}
