{% extends "base.html" %}

{% block title %}
Milestones
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

<h1>Milestone</h1>

<a href="/milestones/add/">Add new milestone</a> |
<a href="/milestones/">View all milestone</a> |

{% if milestone %}

<a href="/milestones/{{ milestone.id }}/edit/">Edit</a> |
<a href="/milestones/{{ milestone.id }}/delete/">Delete</a>

<p>
Title: {{ milestone.title }}
</p>

<p>
Description: 
<br/>{{ milestone.description }}
</p>

<p>
Duration: {{ milestone.start_date }} to {{ milestone.end_date }}
</p>

<p>
Percent complete: {{ milestone.percent_complete }}%
</p>

<p>
Release: 
<a href="/releases/{{ milestone.release.id }}/">{{ milestone.release }}</a>
</p>

<p>
Categories:
{% if milestone.category.all.0 %}   <!-- this is manyToMany field -->
   {% for category in milestone.category.all %}
      
      {{ category.category }} /      

   {% endfor %}
{% else %}
   None
{% endif %}
</p>

<p>
Predecessor milestones:
{% if milestone.predecessors.all.0 %}   <!-- this is manyToMany field -->
   {% for predecessor in milestone.predecessors.all %}
      <br/>
      <a href="/milestones/{{ predecessor.id }}/">{{ predecessor.title }}</a>
   {% endfor %}
{% else %}
   None
{% endif %}
</p>

<p>Notes:<br/>
{{ milestone.notes }}
</p>


<!-- *** IF NO milestones *** -->
{% else %}
<p>No milestones are available.</p>
{% endif %}
{% endblock %}

