{% extends "base.html" %}

{% block title %}
Beta Test
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

<h1>Beta Test</h1>

<a href="/betatests/">View all Beta Tests</a> |

{% if betatest %}

<a href="/betatests/{{ betatest.id }}/edit/">Edit</a> |

 <a href="#">view all bugs related to this beta test</a>

<p>
Release:  <a href="/releases/{{ betatest.release.id }}/">{{ betatest.release }}</a>
</p>

<p>Beta Test Engineers:
{% for engineer in betatest.responsible_engineer.all %}
      <br/>
      <a href="/members/{{ engineer.id }}/">{{ engineer.title }}</a>
   {% endfor %}
</p>

<p>
Customers:
{% if feedback_list %} 
   {% for feedback in feedback_list.all %}
      <br/>

<!-- Need to fix this so show only list of unique customers with no repeats -->

      <a href="/customers/{{ feedback.customer.id }}/">{{ feedback.customer.first_name }} {{ feedback.customer.last_name }}</a>, {{ feedback.customer.organization }} / {{ feedback.customer.location }} <a href="/feedback/{{ betatest.id }}/{{ feedback.customer.id }}">view feedback</a>

      
   {% endfor %}
{% else %}
   None
{% endif %}









</p>


<!-- *** IF NO BETA TESTS *** -->
{% else %}
<p>No beta tests are available.</p>
{% endif %}
{% endblock %}

