{% extends "base.html" %}

{% block title %}

{% if mode == 'create' %}
    Submit Feedback
{% endif %}

{% if mode == 'edit' %}
    Edit Feedback
{% endif %}

{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

{% if mode == 'create' %}
<h1>Submit Feedback</h1>
{% endif %}

{% if mode == 'edit' %}
<h1>Edit Feedback</h1>
{% endif %}


{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}

<p> Feature: <a href="/features/{{ feature.id }}/">{{ feature.title }}</a>
</p>

{% if mode == 'create' %}
<form id="add-feedback-form" action="/feedback/add/{{ feature.id }}/" method="post" enctype="multipart/form-data">
{% endif %}

{% if mode == 'edit' %}
<form id="edit-feedback-form" action="/feedback/{{ feedback.id }}/edit/" method="post" enctype="multipart/form-data">
{% endif %}

      <label for="betatest">{{ form.betatest.label }}</label>
      <div class="field">{{ form.betatest }}</div>
      <div class="errors">{{ form.betatest.errors.0 }}</div>
      <br/>
       
       <p>NEED TO change this so that customer field is auto-linked to currently logged in user. Also, shouldn't ANYONE be able
       to submit feedback, not just customer?</p>

      <label for="customer">{{ form.customer.label }}</label>
      <div class="field">{{ form.customer }}</div>
      <div class="errors">{{ form.customer.errors.0 }}</div>
      <br/>

      <label for="feedback">{{ form.feedback.label }}</label>
      <div class="field">{{ form.feedback }}</div>
      <div class="errors">{{ form.feedback.errors.0 }}</div>
      <br/>


{% if mode == 'create' %}
<input type="submit" value="Add" class ="blueButton">
{% endif %}

{% if mode == 'edit' %}
<input type="submit" value="Save" class ="blueButton">
{% endif %}


{% csrf_token %}

</form>

{% endblock %}

